{*
 * This file is part of Nepttune (https://www.peldax.com)
 *
 * Copyright (c) 2018 Václav Pelíšek (info@peldax.com)
 *
 * This software consists of voluntary contributions made by many individuals
 * and is licensed under the MIT license. For more information, see
 * <https://www.peldax.com>.
*}

<ul class="sidebar-menu" data-widget="tree">
{foreach $menu as $section => $entries}
    <li class="header">{$section}</li>
    {foreach $entries as $entry}
        {continueIf !is_array($entry['dest']) && (!empty($entry['noPermissions']) || !$control->hasAccess($entry['dest']))}

        {if is_array($entry['dest'])}
            {var $currentSection = false}
            {capture $tempBlock}
                {foreach $entry['dest'] as $subentry}
                    {continueIf !empty($entry['noPermissions']) || !$control->hasAccess($subentry['dest'])}

                    {var $currentLink = $presenter->isLinkCurrent($subentry['dest'])}

                    {if $currentLink}
                        {php $currentSection = true}
                    {/if}

                    <li n:class="$currentLink ? active">
                        <a href="{plink $subentry['dest']}" n:class="isset($entry['class']) ? $entry['class'], isset($subentry['class']) ? $subentry['class']">
                            {$subentry['name']}
                        </a>
                    </li>
                {/foreach}
            {/capture}

            <li n:if="!empty($tempBlock)" n:class="treeview, $currentSection ? menu-open, $currentSection ? active">
                <a href="#">{icon $entry['icon']} <span>{$entry['name']}</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu" {if $currentSection}style="display: block"{/if}>
                    {$tempBlock}
                </ul>
            </li>
        {else}
            <li n:class="$presenter->isLinkCurrent($entry['dest']) ? active">
                <a href="{plink $entry['dest']}" n:class="isset($entry['class']) ? $entry['class']">
                    {icon $entry['icon']} <span>{$entry['name']}</span>
                </a>
            </li>
        {/if}
    {/foreach}
{/foreach}
</ul>
